<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Home</mat-card-title>
    <mat-card-subtitle class="subtitle">Aplicação final desenvolvida para a disciplina de TC2.</mat-card-subtitle>
    <mat-divider class="divider"></mat-divider>
    <h2>
      Rotas
    </h2>
    <h3>
      <b>GET -</b> https://backend-veterinaria.glitch.me/api/pets
    </h3>
    <h3>
      <b>PUT -</b> https://backend-veterinaria.glitch.me/api/pets/:id
    </h3>
    <h3>
      <b>DELETE -</b> https://backend-veterinaria.glitch.me/api/pets/:id
    </h3>
    <h3>
      <b>POST -</b> https://backend-veterinaria.glitch.me/api/pets
    </h3>
</mat-card>
